body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: -15px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(201, 62, 11);
    text-shadow: 2px 2px 4px rgb(196, 100, 23);
}
/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 10px; /* Tamanho base das linhas do grid */
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

/* Grid Item */
.grid-item {
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Tamanhos diferentes para cada grid-item */
.grid-item.small {
    grid-row: span 20; /* Ocupa 20 vezes o tamanho base */
}

.grid-item.medium {
    grid-row: span 30; /* Ocupa 30 vezes o tamanho base */
}

.grid-item.large {
    grid-row: span 40; /* Ocupa 40 vezes o tamanho base */
}
.footer {
    text-align: center;
    margin-top: 20px; 
}

.footer-caixa {
    background-color: rgb(199, 103, 13);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; 
}